<launch>
  <!-- device info -->
  <arg name="device_id" default="1" doc="The ID of the device [1, 128]."/>
  <arg name="device_type" value="qbhand" doc="The type of the device [qbhand, qbmove, ...]."/>
  <arg name="device_name" default="$(arg device_type)$(arg device_id)" doc="The unique device name used in the yaml controller configurations (also in the urdf if not already specified there)."/>
  <!-- robot settings -->
  <arg name="control_duration" default="0.01" doc="The duration of the control loop [s]."/>
  <arg name="robot_hardware" default="[$(arg device_name)]" doc="The robot hardware interface names, e.g. [device1, device2, ...]."/>
  <arg name="robot_name" default="$(arg device_type)" doc="The unique robot name."/>
  <arg name="robot_namespace" default="$(arg device_name)" doc="The unique robot namespace."/>
  <arg name="robot_package" default="qb_hand" doc="The base package name prefix for the robot configurations [urdf, rviz, ...]."/>
  <arg name="source_list" default="[control/joint_states]" doc="The joint_states source list for the joint_state_publisher."/>
  <!-- read/write settings -->
  <arg name="get_currents" default="true" doc="Choose whether or not to retrieve current measurements from the device."/>
  <arg name="get_positions" default="true" doc="Choose whether or not to retrieve position measurements from the device."/>
  <arg name="get_distinct_packages" default="false" doc="Choose whether or not to retrieve current and position measurements from the device in two distinct packages."/>
  <arg name="max_repeats" default="3" doc="The maximum number of consecutive repetitions to mark retrieved data as corrupted."/>
  <arg name="set_commands" default="true" doc="Choose whether or not to send command positions to the device."/>
  <arg name="set_commands_async" default="false" doc="Choose whether or not to send commands without waiting for ack."/>
  <!-- initialization settings -->
  <arg name="activate_on_initialization" default="false" doc="Choose whether or not to activate the motors on node startup."/>
  <arg name="rescan_on_initialization" default="false" doc="Choose whether or not to rescan the serial ports on node startup."/>
  <!-- launch settings -->
  <arg name="standalone" default="false" doc="Choose whether or not to start the Communication Handler."/>
  <arg name="use_controller_gui" default="false" doc="Choose whether or not to use the controller GUI."/>
  <arg name="use_rviz" default="true" doc="Choose whether or not to use rviz."/>
  <arg name="use_waypoints" default="false" doc="Choose whether or not to use the waypoint references."/>


  <include file="$(find qb_device_driver)/launch/communication_handler.launch" if="$(arg standalone)"/>

  <include file="$(find qb_device_bringup)/launch/device_bringup.launch" pass_all_args="true"/>

  <include file="$(find qb_device_bringup)/launch/robot_bringup.launch" pass_all_args="true"/>
</launch>