<launch>
  <include file="$(find qb_device_driver)/launch/communication_handler.launch"/>

  <include file="$(find qb_device_bringup)/launch/full_bringup.launch">
    <arg name="control_action" value="synergy"/>
    <arg name="control_duration" value="0.01"/>
    <arg name="controllers" value="qbhand_joint_state_controller
                                   qbhand_synergy_trajectory_controller"/>
    <arg name="controllers_namespace" value="qbhand"/>
    <arg name="controllers_settings" value="qb_hand"/>
    <arg name="device_id" value="1"/>
    <arg name="device_control" value="qb_hand"/>
    <arg name="device_description" value="qb_hand"/>
    <arg name="device_namespace" value="qbhand"/>
    <arg name="device_urdf" value="qb_hand"/>
    <arg name="use_controller_gui" value="true"/>
    <arg name="use_rviz" value="true"/>
    <arg name="use_waypoints" value="false"/>
    <arg name="waypoint_namespace" value="qbhand"/>
    <arg name="waypoint_settings" value="qb_hand"/>
  </include>
</launch>