<?xml version="1.0"?>
<robot name="qbhand" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
	<xacro:arg name="namespace" default="qbhand"/>

	<link name="root_link"/>
	<xacro:build_hand_from_yaml configuration="qbhand_right" namespace="$(arg namespace)" parent="root">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:build_hand_from_yaml>

</robot>